@model Proster.Models.User

@{
    ViewBag.Title = "Start Page";
}

<div class="jumbotron">
    <h1>Proster - Proccess tester</h1>
    <p class="lead">Welcome to the process tester.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Select User</h2>
        <div>
            @Html.DropDownList("UserNames")            
        </div>
    </div>
    <div class="col-md-4">
        <h2>Select Test Set</h2>
        @Html.ListBox("TestSets")    
    </div>
    <div class="col-md-4">
        <h2>Select Process</h2>      
        @Html.ListBox("Processes")        
    </div>
        
</div>

<div class="row">
    <div class="pull-right">
        <p><a class="btn btn-default" href="">Start Test &raquo;</a></p>
    </div>
</div>
